<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Pana Reporter</h4>

        <div class="btn-group pull-right">
            <md-button href="#dashboard" class="btn md-raised btn-sm">{{userName}}</md-button>
            <md-button ng-click="logout()" class="btn md-raised btn-sm">LogOut</md-button>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="container">
    <alert class="pull-right" ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice(0,1)">
        {{alert.msg}}
    </alert>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select One</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <md-button class="btn btn-lg btn-block md-raised" ng-click="open('sm')">Create New Team
                                </md-button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <details>
                                    <summary class="btn btn-lg btn-block btn-info">My Teams</summary>
                                    <hr>
                                    <h4 class="text-center text-info" ng-show="currentUser.myTeams.length==0">Sorry You Don't have any Team
                                        <md-button class="btn btn-md md-raised md-primary" ng-click="open('sm')">Create New Team ?
                                        </md-button>
                                    </h4>
                                    <div ng-repeat="team in currentUser.myTeams">
                                        <md-button class="btn btn-md btn-block md-raised md-primary"
                                                   ng-href="#{{team.teamId}}">{{team.name}}
                                        </md-button>
                                        <br>
                                    </div>
                                </details>

                            </div>
                            <hr>
                            <div class="form-group">
                                <details>
                                    <summary class="btn btn-lg btn-block btn-danger">Teams I'm Part of</summary>
                                    <hr>
                                    <h4 class="text-center text-info" ng-show="currentUser.memberOf.length==0">Sorry You aren't part of any Team
                                    </h4>
                                    <div ng-repeat="team in currentUser.memberOf">
                                        <md-button class="btn btn-md btn-block md-raised md-warn"
                                                   ng-href="#{{team.teamId}}">{{team.name}}
                                        </md-button>
                                        <br>
                                    </div>
                                </details>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header">
            <h3 class="modal-title">Create new Team</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <md-text-float type="text" label="Team Name" ng-model="team.name"></md-text-float>
                <md-text-float type="text" label="Team Id" ng-model="team.teamId"
                               ng-keyup="$event.keyCode == 13 && ok(team)"></md-text-float>
            </div>
            <div class="alert-danger" ng-show="teamDuplicate">
                Team Id Already Exist try Some Unique
            </div>
        </div>
        <div class="modal-footer">
            <md-button class="btn md-primary md-raised" ng-disabled="!team.name||!team.teamId" ng-click="ok(team)">OK
            </md-button>
            <md-button class="btn md-warn md-raised" ng-click="cancel()">Cancel</md-button>
        </div>
    </script>
</div>