<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <md-text-float type="email" label="Email" ng-model="user.email"
                                               autofocus></md-text-float>
                            </div>
                            <div class="form-group">
                                <md-text-float type="password" label="Password" ng-model="user.password"
                                               ng-keyup="$event.keyCode == 13 && login(user)"></md-text-float>
                            </div>
                            <md-button class="btn btn-lg md-raised md-primary btn-block"
                                       ng-disabled="!user.email || !user.password"
                                       ng-click="login(user)">Login
                            </md-button>
                            <div class="form-group">
                                <hr>
                                <md-button href="#signup" class="btn btn-lg md-raised md-warn btn-block">Sign Up
                                </md-button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
