<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up</h3>
                </div>
                <alert class="pull-right" ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice(0,1)">
                    {{alert.msg}}
                </alert>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <md-text-float type="text" label="First & Last Name" ng-model="user.name"
                                               autofocus></md-text-float>
                            </div>
                            <div class="form-group">
                                <md-text-float type="email" label="Email" ng-model="user.email"></md-text-float>
                            </div>
                            <div class="form-group">
                                <md-text-float type="password" label="Password" ng-model="user.password"
                                               ng-keyup="$event.keyCode == 13 && signup(user)"></md-text-float>
                            </div>
                            <md-button class="btn btn-lg md-raised md-primary btn-block"
                                       ng-disabled="!user.name||!user.email||!user.password" ng-click="signup(user)">
                                Sign
                                Up
                            </md-button>
                            <div class="form-group">
                                <hr>
                                <md-button href="#/" class="btn btn-lg md-raised md-warn btn-block">Login</md-button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>