<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{thisTeam.name}}</h3>

        <div class="btn-group pull-right">
            <md-button ng-href="#dashboard" class="btn md-raised btn-sm">{{userName}}</md-button>
            <md-button ng-click="logout()" class="btn md-raised btn-sm">LogOut</md-button>
        </div>
    </div>
</div>
<br>
<br>
<br>
<hr>

<alert class="alert-style" ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice(0,1)">{{alert.msg}}
</alert>
<tabset justified="true">
    <tab heading="Members">
        <table class="table table-hover">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th ng-hide="isNotAdmin" class="text-center">Delete from Team</th>
            </tr>
            <tr ng-repeat="member in thisTeam.members">
                <td>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td ng-hide="isNotAdmin">
                    <md-button class="btn md-warn md-raised btn-block">Delete</md-button>
                </td>
            </tr>
            <tr ng-hide="isNotAdmin">
                <td><input class="form-control" type="text" placeholder="Name" ng-model="addUser.name"></td>
                <td><input class="form-control" type="email" placeholder="Email" ng-model="addUser.email"></td>
                <td>
                    <md-button class="btn md-raised md-primary btn-block" ng-click="addMember(addUser); addUser=null"
                               ng-disabled="!addUser.name||!addUser.email">Add Member
                    </md-button>
                </td>

            </tr>
        </table>
    </tab>
    <tab heading="Reports">
        <md-button class="md-primary md-raised btn btn-md" ng-show="showButton"
                   ng-click="showButton=false;showRepSub=true;">Submit
            / Edit Today's Report
        </md-button>

        <div ng-show="showRepSub" class="text-center">

            <hr style="clear: both">
            <table class="table table-hover one-line" ng-init="data123=[{questions:null.question,answers:null}]">
                <tr ng-repeat="question in $root.thisTeam.reportSettings.questions">
                    <label>
                        <td class="saparate-line">Q:{{$index+1}} {{question.question}}
                            <input type="hidden" class="form-control hidden"
                                   value="{{data123[$index].questions=question.question}}"/>
                        </td>
                        <td class="saparate-line">
                            <textarea ng-model="data123[$index].answers" class="form-control" rows="3"></textarea>
                        </td>
                    </label>
                </tr>
            </table>
            <md-button class="md-raised md-primary btn-lg"
                       ng-disabled="!data123[0].answers || !data123[1].answers || !data123[2].answers"
                       ng-click="submitReport(data123); data123=[];showRepSub=false;showButton=true;">Submit
            </md-button>
        </div>
        <hr>
        <h2 class="text-center text-info" ng-show="thisReports.length==0">Sorry there are no reports of
            {{finalDate}}</h2>

        <div class="form-group" ng-repeat="userReport in thisReports">
            <details>
                <summary class="btn btn-lg btn-info btn-block text-align-class-left">
                    {{userReport.userId.name}}'s Report of Date
                    {{userReport.submitDate}}
                    Sumitted at {{userReport.submitTime}}
                </summary>
                <table class="table table-hover text-center">
                    <tr ng-repeat="singleReport in userReport.reports">
                        <td class="saparate-line text-left"><b>Q:{{$index+1}} {{singleReport.questions}}</b></td>
                        <td class="saparate-line text-left">
                            <pre>{{singleReport.answers}}</pre>
                        </td>
                    </tr>
                </table>
            </details>
        </div>
        <div class="pull-right one-line">
            <b class="text-justify text-info">See Reports of</b>
            <hr>
            <datepicker ng-model="reportOfDate" ng-change="getReportOf(reportOfDate)" show-weeks="true"
                        class="well well-sm"></datepicker>
        </div>
    </tab>
    <tab heading="Report Settings" ng-hide="isNotAdmin">
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Report Settings{{isNotAdmin}}</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <ul class="list-group">
                                        <li class="item list-group-item text-center">Report Questions</li>
                                        <li class="item list-group-item text-center">Drag & Drop to change the Questions
                                            Order
                                        </li>
                                        <li class="item list-group-item" ui-sortable="sortableOptions"
                                            ng-model="sampleObj.reportSettings.questions">
                                            <div class="input-group"
                                                 ng-repeat="question in sampleObj.reportSettings.questions">
                                                    <span class="input-group-addon  size-adjust2">
                                                            <span class="glyphicon glyphicon-move"
                                                                  style="font-size: 18px"></span>
                                                    </span>
                                                <input type="text" class="form-control size-adjust"
                                                       ng-model="question.question">
                                                    <span class="input-group-btn" style="height: 35px !important;">
                                                           <md-button class="btn md-raised md-warn"
                                                                      ng-click="deleteThisQuestion($index)">Delete
                                                           </md-button>
                                                        </span>
                                            </div>
                                        </li>
                                        <li class="item list-group-item">
                                            <div class="input-group">
                                                <input type="text" class="form-control size-adjust"
                                                       ng-model="addQuestionData" placeholder="{{addquesPlace}}">
                                                    <span class="input-group-btn">
                                                        <md-button class="btn btn-success md-primary md-raised"
                                                                   ng-click="addQuestions(addQuestionData);addQuestionData=null">
                                                            Add Question
                                                        </md-button>
                                                    </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <b>Days to Send Reporting Email</b>
                                </div>
                                <br>

                                <div class="form-group text-center">
                                    <span ng-repeat="e in sampleObj.reportSettings.daysForReportMail track by $index">
                                            <md-checkbox ng-model="sampleObj.reportSettings.daysForReportMail[$index]">
                                                {{days[$index]}}
                                            </md-checkbox>
                                    </span>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <b>Days to Send Reminder Email</b>
                                </div>
                                <br>

                                <div class="form-group text-center">
                                        <span ng-repeat="e in sampleObj.reportSettings.daysForReminderMail track by $index">
                                            <md-checkbox
                                                    ng-model="sampleObj.reportSettings.daysForReminderMail[$index]">
                                                {{days[$index]}}
                                            </md-checkbox>
                                        </span>
                                </div>
                                <hr>
                                <div class="form-group text-center">
                                    <label>
                                        Time to Send Report Mail
                                        <select ng-model="sampleObj.reportSettings.timeForReportMail">
                                            <option value="0">0:00</option>
                                            <option value="1">1:00</option>
                                            <option value="2">2:00</option>
                                            <option value="3">3:00</option>
                                            <option value="4">4:00</option>
                                            <option value="5">5:00</option>
                                            <option value="6">6:00</option>
                                            <option value="7">7:00</option>
                                            <option value="8">8:00</option>
                                            <option value="9">9:00</option>
                                            <option value="10">10:00</option>
                                            <option value="11">11:00</option>
                                            <option value="12">12:00</option>
                                            <option value="13">13:00</option>
                                            <option value="14">14:00</option>
                                            <option value="15">15:00</option>
                                            <option value="16">16:00</option>
                                            <option value="17">17:00</option>
                                            <option value="18">18:00</option>
                                            <option value="19">19:00</option>
                                            <option value="20">20:00</option>
                                            <option value="21">21:00</option>
                                            <option value="22">22:00</option>
                                            <option value="23">23:00</option>
                                        </select>
                                    </label>
                                    |
                                    <label>
                                        Time to Send Reminder Mail
                                        <select ng-model="sampleObj.reportSettings.timeForReminderMail">
                                            <option value="0">0:00</option>
                                            <option value="1">1:00</option>
                                            <option value="2">2:00</option>
                                            <option value="3">3:00</option>
                                            <option value="4">4:00</option>
                                            <option value="5">5:00</option>
                                            <option value="6">6:00</option>
                                            <option value="7">7:00</option>
                                            <option value="8">8:00</option>
                                            <option value="9">9:00</option>
                                            <option value="10">10:00</option>
                                            <option value="11">11:00</option>
                                            <option value="12">12:00</option>
                                            <option value="13">13:00</option>
                                            <option value="14">14:00</option>
                                            <option value="15">15:00</option>
                                            <option value="16">16:00</option>
                                            <option value="17">17:00</option>
                                            <option value="18">18:00</option>
                                            <option value="19">19:00</option>
                                            <option value="20">20:00</option>
                                            <option value="21">21:00</option>
                                            <option value="22">22:00</option>
                                            <option value="23">23:00</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <hr>
                                    <md-button ng-click="saveChanges()"
                                               class="btn btn-lg md-raised md-primary btn-block">Save
                                    </md-button>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Team Settings" ng-hide="isNotAdmin">

        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Team Settings</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <ul class="list-group">
                                    <li class="item list-group-item text-center">Team Name</li>
                                    <li class="item list-group-item">
                                        <div class="input-group col-md-4">
                                            <md-text-float label="Team name" ng-model="sampleObj.name"></md-text-float>
                                        </div>
                                        <div class="form-group text-center">
                                            <md-button ng-disabled="!thisTeam.name" ng-click="saveChanges()"
                                                       class="btn btn-lg md-raised md-primary">Save
                                            </md-button>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <hr>
                                    <md-button ng-click="deleteTeam()" class="btn btn-lg md-raised md-warn btn-block">
                                        Delete Team
                                    </md-button>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
