<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Pana Reporter</h4>
        <div class="btn-group pull-right">
            <a href="#dashboard" class="btn btn-default btn-sm">{{currentUser.name}}</a>
            <a ng-click="logout()" class="btn btn-default btn-sm">LogOut</a>
        </div>
    </div>
</div>
    <tabset justified="true">
        <tab heading="Members">
            <table class="table table-hover">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Delete from Team</th>
                </tr>
                <tr ng-repeat="member in thisTeam.members">
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td><button class="btn btn-danger btn-block">Delete</button></td>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" placeholder="Name" ng-model="addUser.name"></td>
                    <td><input class="form-control" type="email" placeholder="Email" ng-model="addUser.email"></td>
                    <td><button class="btn btn-info btn-block" ng-click="addMember(addUser); addUser=null" ng-disabled="!addUser.name||!addUser.email">Add Member</button></td>

                </tr>
            </table>
        </tab>
        <tab heading="Reports">
            <div class="form-group">
                <details ng-repeat="userReport in thisReports">
                    <summary class="btn btn-lg btn-block btn-info">{{userReport.name}}</summary>
                    <hr>
                    <div ng-repeat="singleReport in userReport.reports">
                        <div>{{singleReport.questions}}</div>
                        <div>{{singleReport.answers}}</div>
                    </div>
                </details>
                <table class="table table-hover" ng-init="num=[]">
                    <tr>
                        <th class="text-center">Questions</th>
                        <th class="text-center">Answers</th>
                    </tr>
                <tr ng-repeat="question in thisTeam.reportSettings.questions">
                    <label><td>{{question.question}}</td>
                        <td><textarea ng-model="num[$index].answer" class="form-control" rows="3"></textarea></td>
                    </label>
                </tr>
                </table>
                <button class="btn btn-success btn-block" ng-click="submitReport(num); num=[] ">Submit</button>
            </div>
        </tab>
        <tab heading="Report Settings">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Report Settings</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <ul class="list-group">
                                            <li class="item list-group-item text-center">Report Questions</li>
                                            <li class="item list-group-item text-center">Drag & Drop to change the Questions Order</li>
                                            <li class="item list-group-item" ui-sortable="sortableOptions" ng-model="thisTeam.reportSettings.questions">
                                                <div class="input-group" ng-repeat="question in thisTeam.reportSettings.questions" style="height: 35px !important;">
                                                    <span class="input-group-addon" style="height: 35px !important;">
                                                            <span class="glyphicon glyphicon-move" style="font-size: 18px"></span>
                                                    </span>
                                                    <input type="text" class="form-control" ng-model="question.question">
                                                    <span class="input-group-btn" style="height: 35px !important;">
                                                           <button class="btn btn-danger" ng-click="deleteThisQuestion($index)">Delete</button>
                                                        </span>
                                                </div>
                                            </li>
                                            <li class="item list-group-item">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="addQuestionData" placeholder="{{addquesPlace}}">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" ng-click="addQuestions(addQuestionData);addQuestionData=null">Add Question</button>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <b>Days to Send Reporting Email</b>
                                    </div>
                                    <br>
                                    <div class="form-group text-center">
                                        <span ng-repeat="e in thisTeam.reportSettings.daysForReportMail track by $index">
                                                <input ng-model="thisTeam.reportSettings.daysForReportMail[$index]" type="checkbox"/> {{days[$index]}}
                                            </span>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <b>Days to Send Reminder Email</b>
                                    </div>
                                    <br>
                                    <div class="form-group text-center">
                                        <span ng-repeat="e in thisTeam.reportSettings.daysForReminderMail track by $index">
                                                <input ng-model="thisTeam.reportSettings.daysForReminderMail[$index]" type="checkbox"/> {{days[$index]}}
                                            </span>
                                    </div>
                                    <hr>
                                    <div class="form-group text-center">
                                        <label>
                                            Time to Send Report Mail
                                            <select ng-model="thisTeam.reportSettings.timeForReportMail">
                                                <option ng-repeat="reportTime in [] | range:0:24">{{reportTime}}</option>
                                            </select>
                                        </label>
                                        |
                                        <label>
                                            Time to Send Reminder Mail
                                            <select ng-model="thisTeam.reportSettings.timeForReminderMail">
                                                <option ng-repeat="reportTime in [] | range:0:24">{{reportTime}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <hr>
                                        <button ng-click="saveChanges()" class="btn btn-lg btn-success btn-block">Save</button>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Team Settings">

            <div class="row">
                <div class="col-md-12">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Team Settings</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <ul class="list-group">
                                        <li class="item list-group-item text-center">Team Name</li>
                                        <li class="item list-group-item">
                                            <div class="input-group col-md-4">
                                                <input type="text" class="form-control col-md-offset-12" ng-model="thisTeam.name" placeholder="Team name" autofocus>
                                            </div>
                                            <div class="form-group text-center">
                                                <button ng-click="saveChanges()" class="btn btn-lg btn-info">Save</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="form-group">
                                        <hr>
                                        <button ng-click="deleteTeam()" class="btn btn-lg btn-danger btn-block">Delete Team</button>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
