body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.saparate-line{
  display: block !important;
}
.size-adjust{
  margin-top: 2px;
  height: 45px !important;
}
.size-adjust2{
  margin-top: 5px !important;
  height: 10px !important;
}